<p id="notice"><%= notice %></p>

<h1>How is the weather in</h1>

<%= form_tag weathers_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Lookup", name: nil %>
  </p>
<% end %>

<% if @weather %>
<h3>Weather in <%= @weather.city %></h3>
<p>Temperature: <%= @weather.temperature %></p>
<p>Weather conditions: <%= @weather.value %></p>
<% end %>
